@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}


.html {
  scroll-behavior: smooth !important;
}

/* @Typography */
/* - Heading */
.h1 {
  font-size: 54px;
  line-height: 59.4px;
}

.h2 {
  font-size: 42px;
  line-height: 46.2px;
}

.h3 {
  font-size: 32px;
  line-height: 35.2px;
}

.h4 {
  font-size: 24px;
  line-height: 26.4px;
}

.h5 {
  font-size: 20px;
  line-height: 22px;
}

.h6 {
  font-size: 18px;
  line-height: 19.8px;
}

/* - Subtitle */
.sub-m {
  font-size: 16px;
  line-height: 17.6px;
}

.sub-s {
  font-size: 14px;
  line-height: 15.4px;
}

/* - Body */
.body-l {
  font-size: 18px;
  line-height: 25.2px;
}

.body-m {
  font-size: 16px;
  line-height: 22.4px;
}

.body-s {
  font-size: 14px;
  line-height: 19.6px;
}

.body-xs {
  font-size: 12px;
  line-height: 16.8px;
}

.body-xxs {
  font-size: 10px;
  line-height: 14px;
}

/* - Caption */
.caption {
  font-size: 20px;
  line-height: 20px;
}

/* - Button text */
.btn-l {
  font-size: 20px;
  line-height: 20px;
}

.btn-m {
  font-size: 16px;
  line-height: 16px;
}

.btn-s {
  font-size: 14px;
  line-height: 14px;
}

/* - Menu Text */
.menu {
  font-size: 16px;
  line-height: 16px;
}

/* @Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00476d;
}

/*  */ /*  */
/* landing */
/*  */ /*  */

.content {
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  max-height: 0;
}

.content.show {
  height: auto;
  transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
  max-height: 9999px;
}

.item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cardd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardd > div {
  width: 30%;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .cardd > div {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .cardd > div {
    width: 100%;
  }
}
/* 
.mid {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

@media screen and (max-width: 768px) {
  .mid {
    flex-direction: column;
    align-items: flex-start;
  }
} */
