/* @Ant Design Custom Class */
.ant-select-selection-item {
  font-size: 1rem;
  color: #888;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-thumb {
  background: transparent;
}

div:hover::-webkit-scrollbar-thumb {
  background: #888;
}

.ant-spin-container .ant-pagination {
  display: none;
}

.ant-upload-btn {
  padding: 0px !important; /* Use !important to force the padding */
}