/* @Ant Design Custom Class */
.ant-select-selection-item {
  font-size: 1rem;
  color: #888;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-thumb {
  background: transparent;
}

div:hover::-webkit-scrollbar-thumb {
  background: #888;
}

.ant-spin-container .ant-pagination {
  display: none;
}

.ant-upload-btn {
  padding: 0px !important; /* Use !important to force the padding */
}

.custom-menu-item-edit:hover {
  background-color: #f9a600 !important;
  color: white !important;
}

.custom-menu-item-delete:hover {
  background-color: #d62845 !important;
  color: white !important;
}

.custom-menu-item-detail:hover {
  background-color: #0290e2 !important;
  color: white !important;
}

.custom-menu-item-approve:hover {
  background-color: #118e45 !important;
  color: white !important;
}

.ant-dropdown-menu {
  padding: 0 !important;
}
